.box{
    width:320px;
    height:150px;
    border: 1px solid #000;
    position:relative;
    left:250px;
    top:50px;
}
.text{
    position:absolute;
}
.box h3{
    padding-left:10px;
}
.box p{
    padding-left:10px;
}