body{
    background:#222858;
}

.box-1{
    background-color: #fff;
    width:300px;
    height:100px;
    position:relative;
    left:150px;
    top:50px;
    display: inline-block;
}
.box-2{
    
    background-color: #fff;
    width:300px;
    height:100px;
    position:relative;
    left:1100px;
    top:50px;
    display: inline-block;
  
    
}
.box-3{
      
    background-color: #fff;
    width:300px;
    height:100px;
    position:relative;
    left:150px;
    top:710px;
    display: block;
}
.box-4{
      
    background-color: #fff;
    width:300px;
    height:100px;
    position:relative;
    left:1400px;
    top:610px;
    display: inline-block;
}